<div class="page-wrapper">



  <!-- PAGE CONTAINER-->
  <div class="page-container">

    <!-- HEADER DESKTOP-->
    <!--<app-header></app-header>-->
    <!-- END HEADER DESKTOP-->


    <!-- MAIN CONTENT-->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

  </div>


  <footer class="my_footer" >
    <H5 class="texts">Designed And Implemented By Meysam Amini   july 2021</H5>
  </footer>
</div>

<!-- END PAGE CONTAINER-->



<!--<app-radar-chart></app-radar-chart>-->
<!--<app-example-line-chart></app-example-line-chart>-->
<!--<app-line-chart-all-groups></app-line-chart-all-groups>-->
<!--<app-line-chart></app-line-chart>-->
<!--<div *ngIf="chartData.length !== 0">-->
<!--<app-limus-utilisation-chart *ngFor="let entity of chartData" [chartdata]="entity"></app-limus-utilisation-chart>-->
<!--</div>-->


