version: "3.5"

services:

  mongodb:
    container_name: mongodb
    image: mongo:5.0
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_DATA_DIR: /data/db
      MONGO_LOG_DIR: /dev/null
    volumes:
      - ./mongo_data:/data/db
    ports:
      - "27017:27017"


# because of lake of memory, I didn't use zoookeeper & kafka containers. If u do so, remember to set correct kafka settings on producer & consumer module(u should change the port to 29092)
#  zookeeper:
#    container_name: zookeeper
#    image: confluentinc/cp-zookeeper:7.4.0
#    environment:
#      ZOOKEEPER_CLIENT_PORT: 2181
#      ZOOKEEPER_TICK_TIME: 2000
#    ports:
#      - 22181:2181
#    networks:
#      - meysam-docker
#
#  kafka:
#    container_name: kafka
#    image: confluentinc/cp-kafka:7.4.0
#    depends_on:
#      - zookeeper
#    ports:
#      - 29092:29092
#    environment:
#      KAFKA_BROKER_ID: 1
#      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
#      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
#      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
#      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
#      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
#    networks:
#      - meysam-docker


volumes:
#  postgres_data:
#  pgadmin_data:
  mongo_data:

networks:
  meysam-docker:
    driver: bridge


